def <function_name> (<arguments>): #snake_case
    """"                           
    What does this code do         #docstring
    """
    ...                            #return/print

In [17]:
def five_push():
    print(5)

In [18]:
five_push()

5

In [19]:
print(5)

5

Docstring If someone read your codes docestring helps each one
def five_push():
    """
    arguman1 : int :
    return: string :
    """
    print(5)

# Print Returns Difference in Functions

In [20]:
def five_return():
    return(5)

In [21]:
five_return()

5

In [24]:
a = five_push()
print(a)

5
None

In [25]:
b = five_return()
print(b)

5

Arguments in Functions

In [30]:
def loop_numb(number):
    return number

In [31]:
loop_numb("sdaad")

'sdaad'

In [32]:
loop_numb(100)

100

In [33]:
def loop_numb(number=250):
    return number

In [34]:
loop_numb(89)

89

In [35]:
loop_numb()   #Aksi iddia edilmedikçe default rakam 250 olur.
              #Unless otherwise claimed default number is 250. Default mechanism in arguments

250

In [36]:
def loop_large_number(a,b):
    if a>b:
        return a
    elif b>a:
        return b

In [37]:
loop_large_number(5,10)

10

# Relationship of different functions with each other

In [38]:
def write_text(a,b):
    large_number = loop_large_number(a,b)
    template_text = "{} is the larger number" .format(large_number)
    print(template_text)

In [39]:
write_text(5,10)

10 is the larger number

Fonksiyonlarda birden fazla sonuç döndürülebilir
Multiple results can be returned in functions

In [40]:
"Nilufer Dastan".split()

['Nilufer', 'Dastan']

In [41]:
def seperate_name_surname(name_surname):
    name=name_surname.split()[0]
    surname=name_surname.split()[1]
    return name, surname

In [42]:
seperate_name_surname("Nilufer Dastan")

('Nilufer', 'Dastan')

In [44]:
a,b = seperate_name_surname("Nilufer Dastan") #Double loop
print(a)
print(b)

Nilufer
Dastan

# Args Argument

In [47]:
"-".join(["Nilufer","Dastan"])

'Nilufer-Dastan'

In [53]:
def combine_name_surname(name,surname):
    return " ".join([name,surname])

In [54]:
combine_name_surname("Harold", "Lou")

'Harold Lou'

In [55]:
combine_name_surname("Harold", "Lou","Joe") #Args arguments working on this situation. Args referenced for lists.

TypeError: combine_name_surname() takes 2 positional arguments but 3 were given

In [56]:
def combine_name_surname(*args):
    return " ".join(args)

In [57]:
combine_name_surname("Harold", "Lou","Joe")

'Harold Lou Joe'

In [58]:
def combine_name_surname(*args):
    for item in args:
        print(item)
    return " ".join(args)

In [59]:
combine_name_surname("Harold", "Lou","Joe")

Harold
Lou
Joe

'Harold Lou Joe'

In [64]:
#Keyword argument 
def another_name_surname(**kwargs):
    if "another" in kwargs:
        print(kwargs['another'])
        
    else:
        print("another doesn't exist")

In [65]:
another_name_surname(name="erol", another="mesut", surname="gun")

mesut

In [66]:
another_name_surname(name="erol", surname="gun")

another doesn't exist